<html style="min-width:500px;" ng-app="app">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskii - {{label}}</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>

    <nav class="navbar ">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="/dashboard.html#!/"><img class="logo"  style="max-width:100px; margin-top: -7px;" src="/icon.png" alt=""> 
                 
</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1" ng-if="navbar">
                <ul class="nav navbar-nav navbar-right">

                   

                </ul>
            </div>
        </div>
    </nav>


    <div class="container" ng-controller="HomeCtrl">

        <div class="jumbotron  col-md-6 col-md-offset-3 text-center">
            <h2>Projects</h2>
            <small>Select Or Create New Project</small>
            <hr>
          
            <div class="alert alert-info" ng-repeat="p in projects track by $index ">
                <button type="button" ng-click="remove($index)" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span>x</button>
                <a href="index.html#!/project/{{$index}}">{{p.label}}</a>
            </div>
            <hr>
  <form name="newProjectForm" ng-submit="newProject(newProjectForm.$valid)" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="projectName" required placeholder="Project Name">

                </div>
                <div class="form-group">
                    <input type="number" min="0" class="form-control" ng-model="rate" required placeholder="How Much Is an Hour Worth to You?">
                </div>
                <button ng-disabled="userForm.$invalid" type="submit" class="btn btn-success btn-block">Create</button>
            </form>

        </div>

    </div>



    <!-- Libs -->
    <!--
        <script src="assets/js/libs/angular.min.js"></script>
        -->

    <script src="assets/js/libs/angular.js"></script>
    <script src="assets/js/libs/angular.route.min.js"></script>

    <script src="assets/js/libs/ngDraggble.js"></script>
    <!-- Firebase -->
    <script src="assets/js/libs/firebase.js"></script>
    <!-- AngularFire -->
    <script src="assets/js/libs/angularfire.min.js"></script>
    <script src="assets/js/vars.js"></script>
    <!-- Modules -->
    <script src="assets/js/modules/app.js"></script>
    <script src="assets/js/modules/routing.js"></script>
    <script src="assets/js/modules/auth.js"></script>
    <script src="assets/js/modules/tracker.js"></script>


    <!-- Services -->
    <script src="assets/js/services/storage.js"></script>
    <!-- Directives -->
    <script src="assets/js/directives/timer.js"></script>

</body>

</html>