<style>
    body {
        background: white
    }

    input {
        border: none;
    }
</style>
<div class="container" id="invoice">
    <div class="row">
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6 text-right">
            <h1>INVOICE</h1>
            <h1><small>Invoice #<input type="text" style="text-align:right;max-width:50px;" ng-model="invoice.number"></small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>From: {{invoice.from.name}}</h4>
                </div>
                <div class="panel-body">
                    <p>
                        {{invoice.from.address}} <br> {{invoice.from.details}} <br>

                    </p>
                    <p>
                        {{settings.email}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>To : <input type="text" style="text-align:right;" ng-model="invoice.to.name"></h4>
                </div>
                <div class="panel-body">
                    <p>
                        <input type="text" style="text-align:right;" ng-model="invoice.to.address"> <br> <input type="text"
                            style="text-align:right;" ng-model="invoice.to.details"> <br>

                    </p>
                    <p>
                        <input type="text" style="text-align:right;" ng-model="invoice.to.email">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- / end client details section -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>

                <th>
                    <h4>Description</h4>
                </th>
                <th>
                    <h4>Qty</h4>
                </th>
                <th>
                    <h4>Rate/Price</h4>
                </th>
                <th>
                    <h4>Sub Total</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items track by $index" ng-init="total = 0">
                <td><button ng-click="remove($index)" class="btn btn-danger">-</button></td>

                <td><input type="text" ng-value='item.name +"  "+ (item.time | time) '></td>
                <td class="text-right"><input type="number" min="1" style="text-align:right;" ng-model="item.qty"></td>
                <td class="text-right"><input type="number" style="text-align:right;" ng-model="item.price "> </td>
                <td class="text-right">{{ item.price * item.qty | round }}</td>
            </tr>
            <tr>
                <td><button ng-click="add()" class="btn btn-primary">+</button></td>

                <td><input class="form-control" ng-model="item.name"></td>
                <td class="text-right"><input class="form-control" type="number" min="1" ng-model="q"></td>
                <td class=""><input class="form-control" type="number" min="1" ng-model="r"></td>

                <td class="text-right">{{q * r || 0}}</td>

            </tr>

        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-8 text-right">
            <p>Sub Total</p>
            <p>Tax</p>
            <p>Total</p>
        </div>
        <div class="col-xs-2 text-right" ng-init="tax = 0">
            <p>{{ getTotal() }} <small>{{ settings.currency }}</small></p>
            <p><input  type="number" max="100" min="0" ng-model="tax"> %</p>
            <p>{{ getTotal() + (getTotal() * tax /100) }} <small>{{ settings.currency }}</small></p>

        </div>
    </div>

</div>