<div class="container" ng-controller="TimeCtrl">
    <div class="jumbotron">
        <div class="text-center" ng-if="loaded">
            <timer start="start"></timer>
        </div>

        <hr>
        <form>
            <br>
            <div class="form-group">
                <label for="board">Select a project</label>
                <select class="form-control" name="board" ng-model="board" placeholder="Select a board">
                    <option ng-repeat="p in projects track by $index " value="{{$index}}">{{p.label}}</option>
                </select>

            </div>
            <div class="form-group">
                <label for="task">What task are you working(Doing) on today?</label>
                <select class="form-control" ng-model="task"> 
                     <option ng-repeat="t in tasks track by $index" value="{{$index}}">{{t.name}}</option>
                </select>


            </div>
            <div class="btn-group" role="group">
                <button type="button" ng-disabled="task == null || start" ng-click="startTimer()" class="btn btn-success ">Record</button>
                <button type="button" ng-disabled="!start" ng-click="save()" class="btn btn-danger ">Save</button>
                <button type="button" ng-disabled="!start" ng-click="stopTimer()" class="btn btn-default ">Reset</button>
            </div>

        </form>
        <div class="footer">
            <hr>
            <div class="text-center">
                <a ng-click="dashboard()" href="" class="btn btn-success btn-block">Dashboard</a> | <a href="#!/settings">Settings</a>                | <a href="#!/paypal-fee-calculator">Paypal Fee Calculator</a>
            </div>
            <br>
        </div>

    </div>
</div>