<div class="container" ng-controller="SettingsCtrl">

    <div class="jumbotron  col-md-6 col-md-offset-3 text-center">
        <h3>Settings</h3>

        <hr>


        <form autocomplete="off">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="settings.full_name" placeholder="Full Name">

            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="settings.email" placeholder="Email">

            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="settings.address" placeholder="Address">

            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="settings.details" placeholder="Address details">
            </div>
            <div class="form-group" ng-init="settings.currency = USD">
                <select type="text" class="form-control" ng-model="settings.currency" > 
                   <option value="USD">USD</option>
                   <option value="EUR">EUR</option>
                   <option value="DZD">DZD</option>
                </select>
            </div>

            <button ng-click="save()" class="btn btn-success btn-block">Save</button>
            <hr>
            <a ng-click="dashboard()" href="" class="btn btn-success btn-block">Dashboard</a> 
        </form>

    </div>
</div>